/*
MAIN BACKGROUND STUFF: Bright Gray
HEX: #373F4A
RGB: (55,63,74)

MAIN ITEMS AND ELEMENTS: Viridian Green
HEX: #6A957C
RGB: (106,149,124)

TEXT AND WHATNOT: Aths Special
HEX: #ECE6D1
RGB: (236,230,209)

HIGHLIGHTS AND ACCENTS: Lotus
HEX: #823F3A
RGB: (130,63,58)
*/

html {
  background-color: #373F4A;
}

p {
  color: #ECE6D1;
}

.square {
  width: 500px;
  height: 500px;
  background-color: #823F3A;
}
