/*
MAIN BACKGROUND STUFF: Light Gray
HEX: #CCCCCC

MAIN ITEMS AND ELEMENTS AND MAIN TEXT: Black Coffee
HEX: #342E37

HIGHLIGHTS AND ACCENTS: Dark Magenta
HEX: #A000A2
*/

html {
  background-color: #CCCCCC;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Prompt', sans-serif;
  color: #342E37;
}

p {
  font-weight: 400;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

footer {
  display: flex;
  margin-bottom: 0;
  background-color: #342E37;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer p {
  color: #CCCCCC;
}

.navbar {
  background-color: #342E37;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbar a {
  margin-top: 0;
  padding: 1% 2%;
  color: #CCCCCC;
  border-radius: 1px;
  box-shadow: 0 0 5px 0.1px #A000A2;
}

a {
  text-decoration: none;
  color: #342E37
}

.currentPage {
  background-color: #A000A2;
}

.notThisPage:hover {
  background-color: #A000A2;
}

.content {
  max-width: 60%;
  padding: 1% 0;
  display: flex;
  margin: 0 auto;
  min-height: 69%;
  flex-direction: column;
  text-align: center;
}

.gridMain {
  /* TOGGLE THE NEXT LINE TO VIEW DEBUG BORDER */
  /* border: 1px solid #A000A2; */
  display: flex;
  max-height: 300px;
  height: fit-content;
  flex: 100%;
  justify-content: space-around;
  margin-top: 2%;
}

.gridItem {
  /* TOGGLE THE NEXT LINE TO VIEW DEBUG BORDER */
  /* border: 1px solid #A000A2; */
  display: flex;
  width: 30%;
  height: 300px;
}

.sphynxInk {
  box-shadow: 0 0 5px 1px #342E37;
}
